<a href="https://colab.research.google.com/github/binmuji/BI-day3.4-project-python.EDA.sales.store/blob/main/Assignment_Day_3_Kurnia_Ageng_P.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas 1

## Dictionary

### Create Dict

In [49]:
profil_user = { 
    'name':['chaterine','fiska','handhy','dewa','bagus','salma','galuh','denny','lilik'],
    'pob':['edinburg','rabat','hithadoo','denpasar','kaliurang','gwangju','garut','rancabali','taif'],
    'dob':['1-1-1990','2-2-1991','3-3-1992','4-4-1993','5-5-1990','6-6-1991','7-7-1992','8-8-1993','9-9-1994'],
    'last_shopping':['12-31-2021','12-30-2021','5-14-2022','12-31-2021','12-30-2021','5-14-2022','12-31-2021','12-30-2021','5-14-2022'],
    'avg_shopping':[130000,99000,99000,105000,210000,73000,101000,86000,117000],
    'trx_month':[5,2,3,6,8,3,6,5,4]
}

In [50]:
import pandas as pd

In [51]:
df_profil_user = pd.DataFrame(profil_user)

In [52]:
df_profil_user

        name        pob       dob last_shopping  avg_shopping  trx_month
0  chaterine   edinburg  1-1-1990    12-31-2021        130000          5
1      fiska      rabat  2-2-1991    12-30-2021         99000          2
2     handhy   hithadoo  3-3-1992     5-14-2022         99000          3
3       dewa   denpasar  4-4-1993    12-31-2021        105000          6
4      bagus  kaliurang  5-5-1990    12-30-2021        210000          8
5      salma    gwangju  6-6-1991     5-14-2022         73000          3
6      galuh      garut  7-7-1992    12-31-2021        101000          6
7      denny  rancabali  8-8-1993    12-30-2021         86000          5
8      lilik       taif  9-9-1994     5-14-2022        117000          4

In [53]:
print (df_profil_user.dtypes)

name             object
pob              object
dob              object
last_shopping    object
avg_shopping      int64
trx_month         int64
dtype: object

### Parameter

In [ ]:
# Dimana user loyal adalah user yang memiliki rata-rata amount belanja per bulan di atas 100 ribu rupiah 
# dan total transaksi per bulan di atas 5

In [54]:
df_profil_user[(df_profil_user.avg_shopping > 100000) & (df_profil_user.trx_month > 5)]

    name        pob       dob last_shopping  avg_shopping  trx_month
3   dewa   denpasar  4-4-1993    12-31-2021        105000          6
4  bagus  kaliurang  5-5-1990    12-30-2021        210000          8
6  galuh      garut  7-7-1992    12-31-2021        101000          6

In [ ]:
# cheats https://appdividend.com/2019/01/25/pandas-boolean-indexing-example-python-tutorial/

# Tugas 2

## Advance Github

- Setup Library & Dataset
- Data Processing
- Descriptive Analysis
- Classification Model
- Conclusion

### Setup Library & Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import dataset
df = pd.read_csv('Stores.csv')

#### Quick Look

In [3]:
df.shape

(896, 5)

In [4]:
df.head(1)

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490

In [5]:
df.describe()

,Store ID,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales
count,896.000000,896.000000,896.000000,896.000000,896.000000
mean,448.500000,1485.409598,1782.035714,786.350446,59351.305804
std,258.797218,250.237011,299.872053,265.389281,17190.741895
min,1.000000,775.000000,932.000000,10.000000,14920.000000
25%,224.750000,1316.750000,1575.500000,600.000000,46530.000000
50%,448.500000,1477.000000,1773.500000,780.000000,58605.000000
75%,672.250000,1653.500000,1982.750000,970.000000,71872.500000
max,896.000000,2229.000000,2667.000000,1560.000000,116320.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Store ID              896 non-null    int64
 1   Store_Area            896 non-null    int64
 2   Items_Available       896 non-null    int64
 3   Daily_Customer_Count  896 non-null    int64
 4   Store_Sales           896 non-null    int64
dtypes: int64(5)
memory usage: 35.1 KB

### Data Processing

1. Missing Value

In [7]:
df.isnull().sum()

Store ID                0
Store_Area              0
Items_Available         0
Daily_Customer_Count    0
Store_Sales             0
dtype: int64

### Descriptive Analysis

### Classification Model

### Conclusion